
ul.application-tabs {
    list-style: none;
}

ul.application-tabs li {
    display: inline-block;
    padding: 10px;
    border: 1px solid #999;
    margin: 3px;
    background: #EEE;
    cursor: pointer;
}

ul.application-tabs li:hover, ul.application-tabs li.selected {
    background: #FFF;
}